

body {
  background-color: white;
  margin: 0;

}

ul {
  list-style: none;
}

iframe {
  height: 30em;
  width: 40em;
}

#title {
  padding: .2em;
  width: 20%;
}

#goToSearch {
  position: absolute;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(-50%);
  left: 50%;
  border: .2em solid black;
  border-radius: .1em;
}

#goToSearch:hover {
  cursor:pointer;
}


#marquee {
  background-color: darkred
  color: white;

}

#queue {
  height: 25%;
}

#searchResults {
  height: 25%;
  width: auto;
}


.flexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
}

.video {
  width: 25%;
}

.video:hover {
  cursor:pointer;
}