

body {
  background-color: white;
  margin: 0;
  font-family: Roboto;

}

ul {
  list-style: none;
}

#title {
  padding: .2em;
  width: 20%;
}

#goToSearch {
  position: absolute;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(-50%);
  left: 50%;
  border: .2em solid black;
  border-radius: .1em;
}

/*#goToSearch:hover {
  cursor:pointer;
}*/

#title {
  height: 3%;
}

#video {
  height: 65%;
  width: 100%;
}

#videoDisco {
  height: 65%;
  width: 100%;
  background-image: url('../images/discoball.jpg');
  background-size: cover;
}

iframe {
  height: 100%;
  width: 100%;
}


#marquee {
  background-color: darkred
  color: white;

}

#queue {
  font-size: 1.5em;
  background-color: #BEDBF7;
  height: 18%;
}

#search {
  background-color: lightgrey;
  margin: 40px, 5px, 40px, 5px;

}

#searchResults {
  height: 25%;
  width: auto;
  font-size: 1.5em;
}

img {
  height: 3em;
}


.flexContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
}

.video {
  margin: 5px;
}

.video:hover {
  cursor:pointer;
}